{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Paquetes'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
    
  <script > 
    $("#selector_destino").change(function(){
    var data = {
        destino_id: $(this).val()
    };
 
    $.ajax({
        type: 'post',
        url: '{{ path("select_hoteles") }}',
        data: data,
        success: function(data) {
            var $hotel_selector = $('#selector_hotel');
 
            $hotel_selector.html('<option>Hotel</option>');
 
            for (var i=0, total = data.length; i < total; i++) {
                $hotel_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
            }
        }
    });
});
    </script>
{% endblock %}

{% block page %}
    {% form_theme form 'MWSimpleCrudGeneratorBundle:widget:fields.html.twig' %}
    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title center-block">
                {{ 'views.new.creation'|trans({'%entity%': 'Paquetes'}, 'MWSimpleCrudGeneratorBundle') }}
            </h3>
        </div>
                 
        <form action="{{ path('paquetes_create') }}" method="post" {{ form_enctype(form) }}> 
            {{ form_errors(form) }}

            {{ form_row(form.destino) }}
            {{ form_row(form.hotel) }}
            {{ form_row(form.eventos) }}

            {{ form_rest(form) }}

         </form>  
            
    </div>

        <div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('paquetes') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
</div>
{% endblock %}
    

